<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.gracom">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_gracom"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Visao.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Visao.Detalhes_noticias" />
        <activity
            android:name=".Visao.Eventos"
            android:label="@string/title_activity_eventos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Visao.Detalhes_Eventos" />
        <activity android:name=".Visao.Favoritos"></activity>
    </application>

</manifest>
